body {
    background-color: #006eff;
    font: normal 17pt Arial;

    text-align: center;
}

header {
    color: white;
}

section {
    width: 500px;
    height: 450px;
    margin: auto;

    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #0000004d;
}
div#msg {
    margin-bottom: 10px;
    padding: 10px;
}

div#foto img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

footer {
    color: white;
}