@charset "UTF-8";

html, body {
    width: 97%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 1.6em;
}

img { 
    width: 200px;
    height: 220px;
    border-radius: 50%;
}

p {
    font-size: 1.2em;
}

li {
    font-size: 1.2em;
    font-weight: lighter;
}